<td id="items"> 
	<div id="items_content">                         
		{{item-column items=items show="show_products_for_item" hide="hide_products_for_item"}}
	</div>
</td>
<td id="list">
	<header role="header">
		<h1><div id="title">One Shop Window</div>
			<div id="item_button" {{action 'open_item_popup' on="click"}}>Items</div> 
			<div id="shop_button" {{action 'open_shop_popup' on="click"}}>Shops</div></h1>
	 </header> 
	
	<div id="list_content">
		{{product-column products=products detail="show_detail_for_product" image="show_image_for_product"}}	
	</div>   
	
	<div id="image_popup" {{bind-attr class="isImagePopupOpen:open:closed"}}>
		{{image-popup product=image_product close="close_image_popup"}}
	</div> 
	
	<div id="detail_popup" {{bind-attr class="isDetailPopupOpen:open:closed"}}>      
	    {{detail-popup product=detail_product close="close_detail_popup"}}
	</div>			         
	   		         
		
	<div id="items_popup" {{bind-attr class="isItemPopupOpen:open:closed"}}> 
	    {{item-popup items=items show="show_products_for_item" hide="hide_products_for_item" close="close_item_popup"}}
	</div>
	<div id="shops_popup" {{bind-attr class="isShopPopupOpen:open:closed"}}>                                                                              
		{{shop-popup shops=shops show="show_products_for_shop" hide="hide_products_for_shop" close="close_shop_popup"}}
	</div>
	
	<footer role="footer">
	<table>
		<tr>  
			<td id="left_links">
				<p><a href="terms-of-service", target: "_blank">Terms of Service</a></p>
			</td>
			<td id="main"> 
				<p>&copy;2014 OneShopWindow </p>
			</td>	
			<td id="right_links"> 
				<p><a href="mailto: contact@technosaur.io">contact@technosaur.io</a></p>					
			</td>
		 </tr>   
	</table>
	</footer>
</td>
<td id="shops">					
	<div id="shops_content">
	    {{shop-column shops=shops show="show_products_for_shop" hide="hide_products_for_shop"}} 
	</div>
</td>    
