<ul>   
    {{#with displayProducts}}
	{{#each itemController="product"}}
	    <a href="">
		<li class="option" {{action "open_detail_popup" on="click"}} >
			<table> 
				<td class="image"> 
					<img id="option_image" {{action "open_image_popup" on="click" bubbles=false}} {{bind-attr src="image"}} {{bind-attr alt="image_name"}}/>
				</td>		 	
				<td class="info">
					<span id="shop_name">{{shop_name}}</span> 
					<span id="option_name" {{action "open_site" link on="click" bubbles=false}}> 
						<a href="">{{name}}</a>
					</span>			                                 
					<br>{{price}}
				</td>
			</table>
		</li>
		</a>
	{{/each}}   
	{{/with}}
</ul>  

   